{% extends 'base.html' %}

{% block content %}
  <h1 class="my-4">영화 상세 페이지</h1>
  <div class="card" style="width: 30rem;">
    <img src="{{ movie.poster_path }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <hr>
      <p class="card-text">{{ movie.overview }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">개봉일 : {{ movie.release_date }}</li>
      <li class="list-group-item">장르 : {{ movie.genres }}</li>
      <li class="list-group-item">평점 : {{ movie.vote_average }}</li>
    </ul>
    {% comment %} <div class="card-body"> {% endcomment %}
      {% comment %} <a href="#" class="card-link">Card link</a> {% endcomment %}
      {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
    {% comment %} </div> {% endcomment %}
  </div>
  {% comment %} index 페이지로 돌아가기 {% endcomment %}
  <hr>
  <footer>
    <a href="{% url 'movies:index' %}">back</a>
  </footer>
{% endblock %}
