{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div>
        팔로잉 : {{ followings|length }} / 팔로워 : <span id="followers">{{ followers|length }}</span>
      </div>
      {% if user != person %}
        <div>
          <form method="POST" data-user-id={{ person.pk }} id="followForm">
            {% csrf_token %}
            {% if user in followers %}
              <button id="followBtn">언팔로우</button>
            {% else %}
              <button id="followBtn">팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}
{% endblock %}
{% block script %}
<script>
const formTag = document.querySelector('#followForm')
const followTagBtn = document.querySelector('#followBtn')
{% comment %} console.log(formTag) {% endcomment %}
formTag.addEventListener(('submit'), function(event) {
  event.preventDefault()
  const userId = event.target.dataset.userId
  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken').value
  const followersTag = document.querySelector('#followers') 
  axios({
    method:'POST',
    url:`/accounts/${userId}/follow/`,
    headers: {'X-CSRFToken' : csrfToken},
  })
  .then((response) => {
    const isFollowed = response.data.isFollowed
    const cnt = response.data.cnt
    if (isFollowed) {
      followTagBtn.innerText = "언팔로우"
      followersTag.innerText = cnt
    } else {
      followTagBtn.innerText = "팔로우"
      followersTag.innerText = cnt
    }
  })
})
</script>
{% endblock script %}
